<div id="tree-list-demo">
  <dx-data-grid
    id="gridContainer"
    [dataSource]="employees"
    keyExpr="ID"
    [showColumnLines]="true"
    [showRowLines]="true"
    [showBorders]="true"
    [rowAlternationEnabled]="false"
  >
    <dxo-editing mode="cell" [allowUpdating]="true"></dxo-editing>
    <dxi-column
      caption="#"
      [width]="60"
      alignment="center"
      dataField="ID"
      [allowEditing]="false"
    ></dxi-column>
    <dxi-column
      caption="POS Shop Code"
      [width]="200"
      alignment="center"
      dataField="POSShopCode"
      [allowEditing]="false"
    ></dxi-column>
    <dxi-column
      caption="POS Shop Name"
      alignment="lift"
      dataField="POSShopName"
      [allowEditing]="false"
    ></dxi-column>
    <dxi-column
      caption="POS Shop Code"
      alignment="lift"
      dataField="RMShopCode"
    ></dxi-column>
  </dx-data-grid>
</div>
